<div>
    <h2 id="page-heading">
        <span jhiTranslate="hackSearchApp.searchQuery.home.title">Search Queries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-search-query-mood" [routerLink]="['/search-query-mood/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="hackSearchApp.searchQuery.home.createLabel">
            Create new Search Query
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="searchQueries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hackSearchApp.searchQuery.query">Query</span></th>
            <th><span jhiTranslate="hackSearchApp.searchQuery.episode">Episode</span></th>
            <th><span jhiTranslate="hackSearchApp.searchQuery.createdAt">Created At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let searchQuery of searchQueries ;trackBy: trackId">
                <td><a [routerLink]="['/search-query-mood', searchQuery.id, 'view' ]">{{searchQuery.id}}</a></td>
                <td>{{searchQuery.query}}</td>
                <td>{{searchQuery.episode}}</td>
                <td>{{searchQuery.createdAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/search-query-mood', searchQuery.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/search-query-mood', searchQuery.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'search-query-mood', { outlets: { popup: searchQuery.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
